.info {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.title {
    font-size: 4rem;
}

.qrBlock {
    width: 60%;
    height: 70%;
    display: flex;
    background-color: var(--color-block);
    border-radius: 10px;
}

.left {
    width: 50%;
    height: 100%;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.right {
    width: 50%;
    height: 100%;
    border-radius:  0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.markingInfo {
    /* background-color: violet; */
    width: 90%;
}

.QRDisplay {
    width: 70%;
    height: 60%;
    border-radius: 90px;
}
.QR {
    border-radius: 20px;
    transform: scale(2.5);
    cursor: pointer;
}


li {
    padding-top: 15px;
}


@media (max-width: 1170px) {
    .title {
        font-size: 1.4rem;
    }
    .qrBlock {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        background-color: var(--color-block);
        border-radius: 10px;
    }
    .QR {
        border-radius: 20px;
        transform: scale(2);
        cursor: pointer;
    }
    .left {
        width: 100%;
        height: 30%;
    }
    .right {
        width: 100%;
        height: 50%;
    }
    .className {
        display: flex;
        gap : 0.5rem;
    }
}