* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lexend;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #939597;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #0f0e0ef8;

}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.nav {
  width: 20%;
  height: 100%;
}

.experience {
  width: 80%;
  height: 100%;
}